@model IEnumerable<b2bSwgroup.Models.PositionCatalog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Каталог</h2>


<div class="success" id="message"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4" >
            <input id="search" class="form-control" placeholder="Поиск" />
        </div>
    </div>    
</div>
<br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div id="positionsContainer">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>

            <th>
                Поставщик
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency.IsoCode)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.DisplayFor(modelItem => item.Distributor.Name)
                    }
                    else
                    {
                        @Html.ActionLink("Зарегистрироваться", "Register", "Account")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.IsoCode)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        @Html.ActionLink("Добавить к спецификации", "SelectSpecForAdd", "Specifications", new { idPosition = item.Id }, new { @class = "modalindex" })
                    }
                </td>
            </tr>
        }

    </table>
</div>


<script>
    $('body').on('click', '.modalindex', function (e)
    //$('.modalindex').click(function (e)
    {
        e.preventDefault();
        $.ajax({
            url: this.href,
            success: function (result)
            {
                //$('#modDialog').modal('hide');
                //alert("ффф");
                $('#dialogContent').html(result);
                $('#modDialog').modal('show');
            },
            error: function()
            {
                alert("Ошибка");
            }
            });
    });

    $('#search').on('input keyup', function ()
    {
        var bufKey = this.value;
        
        //if(this.value.length>4)
        {
            $.ajax({
                url: '@Url.Action("Search")',
                data: "key=" + bufKey,
                success: function (data) { $("#positionsContainer").html(data) },
                error: function () { alert("Ошибка поиска") }
            });
        }
    });
</script>