@model PagedList.IPagedList<b2bSwgroup.Models.PositionCatalog>
@using PagedList.Mvc;
@using b2bSwgroup.App_Code;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Каталог</h2>


<div class="success" id="message"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4" >
            <input id="search" class="form-control" placeholder="Поиск" />
        </div>
    </div>    
</div>
<br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div id="positionsContainer" class="container-fluid">
    <div class="row">
        <div class="col-lg-1"><strong>Артикул</strong></div>
        <div class="col-lg-1"><strong>P/N</strong></div>
        <div class="col-lg-2"><strong>Категория</strong></div>
        <div class="col-lg-4"><strong>Наименование</strong></div>
        <div class="col-lg-1"><strong>Прайс</strong></div>
        <div class="col-lg-1"><strong>Поставщик</strong></div>
        <div class="col-lg-2"></div>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.Articul)</div>
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.PartNumber)</div>
            <div class="col-lg-2 ">@Html.DisplayFor(modelItem => item.Category.Name)</div>
            <div class="col-lg-4 ">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-lg-1 ">@Helpers.SetPrice(item.Price,item.Currency)</div>           
            <div class="col-lg-1 ">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.DisplayFor(modelItem => item.Distributor.Name)
                }
                else
                {
                    @Html.ActionLink("Зарегистрироваться", "Register", "Account")
                }
            </div>
            <div class="col-lg-2">
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    @Html.ActionLink("Добавить к спецификации", "SelectSpecForAdd", "Specifications", new { idPosition = item.Id }, new { @class = "modalindex" })
                }
            </div>
        </div>
        <hr />
    }

    
    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>


<script>
    $('body').on('click', '.modalindex', function (e)
    //$('.modalindex').click(function (e)
    {
        e.preventDefault();
        $.ajax({
            url: this.href,
            success: function (result)
            {
                $('#dialogContent').html(result);
                $('#modDialog').modal('show');
                UpdateCurrentBasket();
            },
            error: function()
            {
                alert("Ошибка");
            }
            });
    });

    $('#search').on('input keyup', function ()
    {
        var bufKey = this.value;
        
        if(this.value.length>0)
        {
            $.ajax({
                url: '@Url.Action("Search")',
                data: "key=" + bufKey,
                success: function (data) { $("#positionsContainer").html(data) },
                error: function () { alert("Ошибка поиска") }
            });
        }
        else
        {
            window.location.replace("/PositionCatalogs/Index");
        }
    });
</script>