@model PagedList.IPagedList<b2bSwgroup.Models.PositionCatalog>
@using PagedList.Mvc;
@using b2bSwgroup.App_Code;
@{
    ViewBag.Title = "Мой справочник";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<h2>Каталог моей компании</h2>

<p>
    @Html.ActionLink("Создать позицию", "Create")
    @Html.ActionLink("Загрузить каталог из excel", "UploadExcel",null, new { @class = "modalupload" })
    @Html.ActionLink("Удалить все позиции", "RemoveAllCatalog")
</p>
<div id="positionsContainer" class="container-fluid">
    <div class="row">
        <div class="col-lg-1"><strong>Артикул</strong></div>
        <div class="col-lg-1"><strong>P/N</strong></div>
        <div class="col-lg-2"><strong>Категория</strong></div>
        <div class="col-lg-4"><strong>Наименование</strong></div>
        <div class="col-lg-1"><strong>Прайс</strong></div>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.Articul)</div>
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.PartNumber)</div>
            <div class="col-lg-2 ">@Html.DisplayFor(modelItem => item.Category.Name)</div>
            <div class="col-lg-4 ">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-lg-1 ">@Helpers.SetPrice(item.Price, item.Currency)</div>            
        </div>
        <hr />
    }


    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("MyPositions", new { page }))
</div>


<script>
    $('.modalupload').click(function (e)
    {
        e.preventDefault();
        $.ajax({
            url: this.href,
            success: function (result) {
                $('#dialogContent').html(result);
                $('#modDialog').modal('show');
            },
            error: function () {
                alert("Ошибка");
            }
        });
    });
</script>