@model b2bSwgroup.Models.LoginModel

<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Вход";
}


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <h2>Вход на сайт</h2>
                @Html.ValidationSummary()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <p>
                    <label>Email</label><br />
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </p>
                <p>
                    <label>Пароль</label><br />
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                </p>               
                <p><button class="btn btn-primary" type="submit">Войти</button></p>
                <p>@Html.ActionLink("Зарегистрироваться", "Register")</p>
                <p>@Html.ActionLink("Подтвердить Email", "SendConfirmEmail",null,new { @class="modal-confirmEmail" })</p>
            </div>            
        </div>
       
    </div>
}

<script>
    $('.modal-confirmEmail').click(function (e)
    {
        e.preventDefault();
        $.ajax({
            url: this.href,
            success: function (result) {
                $('#dialogContent').html(result);
                $('#modDialog').modal('show');
            },
            error: function () {
                alert("Ошибка");
            }
        });
    });
</script>