@model IEnumerable<b2bSwgroup.Models.Specification>


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Выберите спецификацию</h4>
    </div>
    <div class="modal-body">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Выбрать", "AddPosition",  new { idSpec = item.Id, idPos = @ViewBag.idPosition }, new { @class = "modalindex" })
                    </td>
                </tr>
            }
        </table>
    
        @Html.ActionLink("Или добавить в новую спецификацию", "Create", new { idPosition = @ViewBag.idPosition }, new { @class = "modalindex" })
    </div>
</div>

<script>
   

    function failAddPosition()
    {
        alert("Ошибка добавления позиции");
    }
</script>

