<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/biz2biz (1).ico" type="image/x-icon">  
    <style>
        #logo{
            margin-right:10px;
        }
    </style> 
    @{ Html.RenderPartial("GoogleAnalytics"); }
    @{ Html.RenderPartial("YandexMetrika"); }
    
</head>
<body>

    @if (!User.Identity.IsAuthenticated)
    {        
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p id="confirmMessage"></p>
        </div>    
    }
   
    <div class="container-fluid">        
    </div>
        <nav class="navbar navbar-default" role="navigation">
            
            <div class="container-fluid">
                <div class="collapse navbar-collapse row">
                    <ul id="menu" class="nav navbar-nav col-lg-8"> 
                        <li><img id="logo" height="50" src="~/Images/biz2biz_logo.png" /></li>                                      
                        <li>@Html.ActionLink("Главная", "Index", "PositionCatalogs")</li>   
                        
                        @if (User.IsInRole("Distributor"))
                        {
                            <li>@Html.ActionLink("Мой каталог", "MyPositions", "PositionCatalogs")</li>
                            <li>@Html.ActionLink("Сопоставление категорий", "Index", "CrossCategories")</li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Мои спецификации", "Index", "Specifications")</li>
                        }
                        
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
                            <li>@Html.ActionLink("Управление пользователями", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Дистрибьютеры", "Index", "Distributors")</li>
                            <li>@Html.ActionLink("Клиенты", "Index", "Customers")</li>
                            <li>@Html.ActionLink("Справочник валют", "Index", "Currencies")</li>
                            <li>@Html.ActionLink("Справочник категорий", "Index", "Categories")</li>
                        }
                       @if (User.Identity.IsAuthenticated)
                       {
                        <li>@Html.ActionLink("Настройки", "Index", "Cabinet")</li>
                       }
                        <li>@Html.ActionLink("Обратная связь", "SendMessage", "CallBack")</li> 
                    </ul>                 
                    <div class="col-lg-3" style="display:flex; height:100%">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("User"))
                            {
                                <div id="basket" style="display:inline-block; margin:auto 0 auto auto">
                                </div>
                                <div style="display:inline-block; margin: auto 0 auto 0">
                                    <p>@User.Identity.Name</p>
                                    @Html.ActionLink("Выйти", "Logout", "Account")
                                </div>
                            }
                            else
                            {
                                <div style="display:inline-block; margin: auto 0 auto auto">
                                    <p>@User.Identity.Name</p>
                                    @Html.ActionLink("Выйти", "Logout", "Account")
                                </div>
                            }

                        }
                        else
                        {
                            <div style="display:inline-block; margin:auto 0 auto auto">
                                @Html.ActionLink("Войти", "Login", "Account")
                                @Html.ActionLink("Зарегистрироваться как поставщик", "RequestDistributor", "Account")
                            </div>
                        }
                    </div> 
                </div>
                
            </div>
        </nav>
    
    <div>
        @RenderBody()    
    </div>
</body>
</html>

<script>
    $(window).ready(function () {
        $('#menu li').each(function ()
        {
            var a = $(this).find('a:first');
            if(a.prop("href") === location.href)
            {
                $(this).addClass("active");
            }

            var message = $("#confirmMessage");
            $.ajax({
                url: '@Url.Action("Info","Stat")',
                success: function (data)
                {
                    $('#confirmMessage').html(data);
                }
            });
            UpdateCurrentBasket();

        });
    });
    function UpdateCurrentBasket()
    {
        $.ajax({
            url: '@Url.Action("CurrentSpecsInfo", "Specifications")',
            success: function (data) {
                $('#basket').html(data);
            },
        });
    }
  
   
</script>
