<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
 
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse row">
                    
                    <ul id="menu" class="nav navbar-nav col-lg-10">
                        <li class="active">@Html.ActionLink("Главная", "Index", "PositionCatalogs")</li>   
                        @if (User.IsInRole("Distributor"))
                        {
                            <li>@Html.ActionLink("Мой каталог", "MyPositions", "PositionCatalogs")</li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Мои спецификации", "Index", "Specifications")</li>
                        }
                        
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
                            <li>@Html.ActionLink("Управление пользователями", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Дистрибьютеры", "Index", "Distributors")</li>
                            <li>@Html.ActionLink("Клиенты", "Index", "Customers")</li>
                            <li>@Html.ActionLink("Справочник валют", "Index", "Currencies")</li>
                            <li>@Html.ActionLink("Справочник категорий", "Index", "Categories")</li>
                        }
                        
                    </ul>
                    <div class="col-lg-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>@User.Identity.Name</p>
                        @Html.ActionLink("Выйти", "Logout", "Account")
                    }
                    else
                    {
                        @Html.ActionLink("Войти", "Login", "Account")
                    }
                    </div>
                    
                </div>
                
            </div>
        </nav>

    <div>
        @RenderBody()    
    </div>
</body>
</html>

<script>
    $(window).ready(function () {
        $('#menu li').each(function ()
        {
            var a = $(this).find('a');
            //console.dir(a.first());
            //alert(a.attr("baseURI"));
            if(a.attr("baseURI")===location.href)
            {
                alert(location.href);
               
            }
        });
    });
</script>
