@model PagedList.IPagedList<b2bSwgroup.Models.PositionCatalog>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Каталог</h2>


<div class="success" id="message"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4" >
            <input id="search" class="form-control" placeholder="Поиск" />
        </div>
    </div>    
</div>
<br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div id="positionsContainer" class="container-fluid">
    <div class="row">
        <div class="col-lg-1 text-center"><strong>Артикул</strong></div>
        <div class="col-lg-1 text-center"><strong>P/N</strong></div>
        <div class="col-lg-2 text-center"><strong>Категория</strong></div>
        <div class="col-lg-3 text-center"><strong>Наименование</strong></div>
        <div class="col-lg-1 text-center"><strong>Прайс</strong></div>
        <div class="col-lg-1 text-center"><strong>Валюта</strong></div>
        <div class="col-lg-1 text-center"><strong>Поставщик</strong></div>
        <div class="col-lg-2 text-center"></div>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.Articul)</div>
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.PartNumber)</div>
            <div class="col-lg-2 ">@Html.DisplayFor(modelItem => item.Category.Name)</div>
            <div class="col-lg-3 ">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.Price)</div>
            <div class="col-lg-1 ">@Html.DisplayFor(modelItem => item.Currency.IsoCode)</div>
            <div class="col-lg-1 ">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.DisplayFor(modelItem => item.Distributor.Name)
                }
                else
                {
                    @Html.ActionLink("Зарегистрироваться", "Register", "Account")
                }
            </div>
            <div class="col-lg-2">
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    @Html.ActionLink("Добавить к спецификации", "SelectSpecForAdd", "Specifications", new { idPosition = item.Id }, new { @class = "modalindex" })
                }
            </div>
        </div>
    }
    @*<table class="table">
        <tr>
            <th>
                Артикул
            </th>
            <th>
                P/N
            </th>
            <th>
                Категория
            </th>           
            <th>
                Наименование
            </th>
            <th>
                Прайс
            </th>
            <th>
                Валюта
            </th>
            <th>
                Поставщик
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Articul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.IsoCode)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.DisplayFor(modelItem => item.Distributor.Name)
                    }
                    else
                    {
                        @Html.ActionLink("Зарегистрироваться", "Register", "Account")
                    }
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        @Html.ActionLink("Добавить к спецификации", "SelectSpecForAdd", "Specifications", new { idPosition = item.Id }, new { @class = "modalindex" })
                    }
                </td>
            </tr>
        }

    </table>*@
    
    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>


<script>
    $('body').on('click', '.modalindex', function (e)
    //$('.modalindex').click(function (e)
    {
        e.preventDefault();
        $.ajax({
            url: this.href,
            success: function (result)
            {
                $('#dialogContent').html(result);
                $('#modDialog').modal('show');
            },
            error: function()
            {
                alert("Ошибка");
            }
            });
    });

    $('#search').on('input keyup', function ()
    {
        var bufKey = this.value;
        
        if(this.value.length>0)
        {
            $.ajax({
                url: '@Url.Action("Search")',
                data: "key=" + bufKey,
                success: function (data) { $("#positionsContainer").html(data) },
                error: function () { alert("Ошибка поиска") }
            });
        }
        else
        {
            window.location.replace("/PositionCatalogs/Index");
        }
    });
</script>